[defaults]
# Sets the location for your inventory so you don't always need -i
inventory = /ansible/hosts.ini

# Silences the Python interpreter discovery warnings
interpreter_python = auto_silent

# Uses a cleaner output format for task results
stdout_callback = debug

[ssh_connection]
# Helps with the "junk after JSON" by managing how SSH handles the session
pipelining = True
