[defaults]
inventory = /ansible/inventory/hosts.ini
interpreter_python = auto_silent
stdout_callback = debug
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o UserKnownHostsFile=/ansible/ssh_keys/known_hosts -i /ansible/ssh_keys/id_ed25519
